.commentForm {
  background-color: #d7e3fc;
  padding: 10px;
  display: grid;
  grid-template-columns: 9fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-areas:
    'label label'
    'input input'
    '. submit';
  width: auto;
}

.commentFormLabel {
  grid-area: label;
  font-weight: bold;
}

input[type='text'] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  grid-area: input;
}

.commentFormSubmit {
  margin-top: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #abc4ff;
  grid-area: submit;
}
