.commentCount {
  margin-top: 10px;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bolder;
}

.commentList {
  margin-top: 10px;
  margin-bottom: 30px;
}

.CommentCard {
  list-style: none;
}
