.nav {
  background-color: #D7E3FC;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.navBtn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 5px;
  text-decoration: none;
  background-color: #b6ccfe;
  color: black;
  text-transform: capitalize;
  border-radius: 7.5px;
}

h5 {
  display: flex;
  padding: 5px;
  font-size: 15px;
  margin: 5px;
}

.navBtnUser {
  text-decoration: none;
}
.loggedIn {
  color: greenyellow;
  margin-left: 5px;
}
